<h4><small>Hola mundo!!!</small></h4>
<hr>
<h2>Aqui ira nuestro contenido principal</h2>
<h5><span class="glyphicon glyphicon-time"></span> Creado por Raul Flores.</h5>
<h1> botones</h1>
<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button> 
<p>Esto es una bonita prueba de un body html, saludos</p>
<br><br>


